[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
[diff]
	tool = vscode
[difftool "vscode"]
    	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    	tool = vscode
[mergetool "vscode"]
    	cmd = code --wait $MERGED
[url "git@github.com:"]
   	insteadOf = https://github.com/
[commit]
	template = ~/.stCommitMsg
[init]
	defaultBranch = main
[color]
	ui = auto
[include]
    	path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[user]
	signingkey = ~/.ssh/signing-key.pub
	name = aphananthe42

